<script src="socket.io/socket.io.js"></script>
<script src="chat.js"></script>

<div>Hola voy a ser un chat cuando sea grande asd</div>
<div class="chatContainer">
    <ul>
        <li>test</li>
    </ul>
    <div class="input">
        <input id="nombre" placeholder="nombre" type="text">
        <input id="chat_mensaje" placeholder="mensaje" type="text">
        <button onclick="return enviarMensaje()" id="enviar">enviar</button>
    </div>
</div>