<script src="socket.io/socket.io.js"></script>
<script src="./scripts/chat.js"></script>

<div class="chatContainer">
    <ul>
        <li>test</li>
    </ul>
    <div class="input">
        <input id="email" placeholder="email" type="text">
        <input id="chat_mensaje" placeholder="mensaje" type="text">
        <button onclick="return enviarMensaje()" id="enviar">enviar</button>
    </div>
</div>