<link rel="stylesheet" href="./styles/formulario.css">

<div class="formulario">
    <h2>Ingrese producto</h2>
    <div class="form">
        <input id="title" type="text" name="title" placeholder="title"/>
        <input id="price" type="number" name="price" placeholder="price"/>
        <input id="thumbnail" type="text" name="thumbnail" placeholder="thumbnail"/>
        <button onclick="return enviarProducto()">Enviar</button>
    </div>
    <p>para el thumbnails recomiendo usar "https://cdn3.iconfinder.com/data/icons/education-209/64/clock-stopwatch-timer-time-128.png"</p>
</div>