<link rel="stylesheet" href="./styles/productos.css">



<div class="productos">
    <% if(arrProductos.length===0){ %>
        <h2>No hay informacion para mostrar</h2>
    <% }else{ %>
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Price</td>
                    <td>Thumbnail</td>
                </tr>
            </thead>
            <tbody>
            <% arrProductos.forEach(producto => { %>
                <tr>
                    <td> <%= producto.title %> </td>
                    <td> <%= producto.price %> </td>
                    <td> <img src=<%= producto.thumbnail %> alt="<%= producto.thumbnail %>"></td>
                </tr>
            <% }) %>
        </tbody>
    </table>    
    <% } %>
    <!-- <a href="/"><button>Ir a /</button></a> -->
</div>