<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/productos.css">
    <title>Document</title>
</head>
<body>
    <div class="productos">
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Price</td>
                    <td>Thumbnail</td>
                </tr>
            </thead>
            <tbody id="productos--tbody">
            <% arrProductos.forEach(producto => { %>
                <tr>
                    <td> <%= producto.title %> </td>
                    <td> <%= producto.price %> </td>
                    <td> <img src=<%= producto.thumbnail %> alt="<%= producto.thumbnail %>"></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>